<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistique</title>
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.8.2/core.css">
    <script type="module" src="https://pyscript.net/releases/2024.8.2/core.js"></script>

<style>
html{
    background-color: red;
}
</style>

</head>
<body>
    <h1>Statistique</h1>

    <p>Entrez votre pseudo : </p>
    <input type="text" id="text">
    <button py-click="search"></button>

<script type="mpy">
from pyscript import document, display

def search():
    print("coucou")
    display("coucou")

</script>
</body>
</html>